## Xcode
*.DS_Store


## Build generated
build/
DerivedData/


## Playgrounds
timeline.xctimeline
playground.xcworkspace


## Swift Package Manager
# Packages/
# Package.pins
.build/


## CocoaPods (https://guides.cocoapods.org/using/using-cocoapods.html)
Pods/


## Carthage
Carthage/
Cartfile.resolved


## fastlane (https://docs.fastlane.tools/best-practices/source-control/#source-control)
**/fastlane/report.xml
/fastlane/FastlaneRunner
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output
**/fastlane/reports/

## Other
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
.DS_Store

*.moved-aside
*.xccheckout
*.xcscmblueprint


## Obj-C/Swift specific
*.hmap
*.ipa
# *.dSYM.zip
# *.dSYM

## Secrets management
Secrets.xcconfig