[MESSAGES CONTROL]
disable=
    missing-docstring,
    invalid-name,
    too-few-public-methods,
    too-many-arguments,
    too-many-locals,
    too-many-branches,
    too-many-statements,
    too-many-instance-attributes,
    too-many-return-statements,
    too-many-nested-blocks,
    too-many-lines,
    too-many-public-methods,
    fixme,
    broad-except,
    line-too-long,
    trailing-whitespace

[FORMAT]
max-line-length=120
