# built application files
*.apk
*.ap_

# Java class files
*.class

# files for the dex VM
*.dex

build/
bin/
gen/
/mirror
/google-play-services_lib/bin
/google-play-services_lib/.classpath
/google-play-services_lib/.project
/google-play-services_lib/build
/android-paralax-scrolling/library/build
/android-universal-image-loader/library/build
/application/src/v2debug
/application/src/v2release
lint.xml
application/build
reports/


# Windows thumbnail db
Thumbs.db

# OSX files
.DS_Store

# Eclipse project files
.classpath
.project

# Android Studio
.idea
*.iml

.gradle
/reports
local.properties

/*/*/build

# Crashlytics
com_crashlytics_export_strings.xml
crashlytics-build.properties

# lint
app/lint-report.html

# test
app/src/test/resources/cache
src/test/resources/cache

captures/
buildId.txt
/app/src/main/java/com/businessbooker/paymentmethods/testresponse.json
