{
  "name": "@whitbread-eos/atoms",
  "version": "0.1.2",
  "description": "Chakra UI wrapper library",
  "main": "./dist/index.js",
  "types": "./dist/index.d.ts",
  "license": "MIT",
  "scripts": {
    "preinstall": "yarn svg2react-component",
    "dev": "webpack --config webpack.config.js --mode development --watch --progress --color",
    "build": "webpack --config webpack.config.js --mode production",
    "storybook": "start-storybook -p 6006",
    "prestorybook": "yarn svg2react-component",
    "build-storybook": "build-storybook",
    "lint": "eslint --ext .ts,.tsx,.js,.jsx src -f table --color",
    "lint:fix": "eslint --ext .ts,.tsx,.js,.jsx src -f table --color --fix",
    "test": "jest --verbose",
    "test:ci": "jest --ci",
    "test:watch": "jest --watch",
    "test:coverage": "jest --coverage",
    "test:coverage:open": "open coverage/lcov-report/index.html",
    "svg2react-component": "svgr --replace-attr-values '#58595B={props.color || \"#58595B\"}','#007FAB={props.color || \"#007FAB\"}','#D73D00={props.color || \"#D73D00\"}','#333={props.color || \"#333\"}','#D90941={props.color || \"#D90941\"}','#FC0F42={props.color || \"#FC0F42\"}','#1C8754={props.color || \"#1C8754\"}','#000={props.color || \"#000\"}'  --typescript --out-dir src/assets/icons -- assets",
    "type-check": "tsc-files --noEmit ./src/components/**/*.component.tsx ./src/theme/**/*.{ts,tsx}"
  },
  "devDependencies": {
    "@babel/core": "^7.17.5",
    "@babel/plugin-transform-runtime": "^7.17.0",
    "@babel/preset-env": "^7.16.11",
    "@babel/preset-react": "^7.16.7",
    "@babel/preset-typescript": "^7.16.7",
    "@babel/runtime": "^7.17.2",
    "@chakra-ui/storybook-addon": "^1.0.3",
    "@storybook/addon-a11y": "^6.4.19",
    "@storybook/addon-actions": "^6.4.19",
    "@storybook/addon-essentials": "^6.4.19",
    "@storybook/addon-interactions": "^6.4.19",
    "@storybook/addon-links": "^6.4.19",
    "@storybook/react": "^6.4.19",
    "@storybook/testing-library": "^0.0.9",
    "@svgr/cli": "^6.2.1",
    "@svgr/webpack": "^6.2.1",
    "@testing-library/dom": "^8.11.3",
    "@testing-library/jest-dom": "^5.16.2",
    "@testing-library/react": "^12.1.3",
    "@testing-library/user-event": "^13.5.0",
    "@trivago/prettier-plugin-sort-imports": "^3.2.0",
    "@types/jest": "^27.4.1",
    "@types/pluralize": "^0.0.29",
    "@types/react-slick": "^0.23.8",
    "@typescript-eslint/eslint-plugin": "^5.10.2",
    "@typescript-eslint/parser": "^5.10.2",
    "babel-jest": "^27.5.1",
    "babel-loader": "^8.2.5",
    "clean-webpack-plugin": "^4.0.0",
    "eslint": "^8.9.0",
    "eslint-formatter-table": "^7.32.1",
    "eslint-plugin-import": "^2.25.3",
    "eslint-plugin-jsonc": "^2.1.0",
    "eslint-plugin-prettier": "^4.0.0",
    "eslint-plugin-react": "7.28.0",
    "eslint-plugin-react-hooks": "^4.3.0",
    "jest": "^27.5.1",
    "jest-dom": "^4.0.0",
    "microbundle": "^0.14.2",
    "prettier": "^2.5.1",
    "storybook-addon-designs": "^6.2.1",
    "storybook-addon-pseudo-states": "^1.7.0",
    "ts-loader": "^9.3.0",
    "tsc-files": "^1.1.3",
    "typescript": "^4.6.4",
    "webpack": "^5.72.0",
    "webpack-cli": "^4.9.2",
    "@chakra-ui/icons": "^1.1.7",
    "@chakra-ui/react": "^1.8.5",
    "@choc-ui/chakra-autocomplete": "^4.18.1",
    "@emotion/react": "^11",
    "@emotion/styled": "^11",
    "classnames": "^2.3.1",
    "date-fns": "^4.1.0",
    "framer-motion": "6.2.8",
    "react": "^17.0.2",
    "react-dom": "^17.0.2"
  },
  "peerDependencies": {
    "@chakra-ui/icons": "^1.1.7",
    "@chakra-ui/react": "^1.8.5",
    "@choc-ui/chakra-autocomplete": "^4.22.0",
    "@emotion/react": "^11",
    "@emotion/styled": "^11",
    "classnames": "^2.3.1",
    "date-fns": "^4.1.0",
    "framer-motion": "6.2.8",
    "react": "^17.0.2",
    "react-dom": "^17.0.2"
  },
  "dependencies": {
    "@choc-ui/chakra-autocomplete": "^4.18.1",
    "nanoid": "^3.3.2",
    "pluralize": "^8.0.0",
    "react-datepicker": "9.1.0",
    "react-slick": "^0.28.1"
  }
}